.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 4rem;
  }
.contenedor .parrafo{
  width: 95%;
  padding: 1vw;
  background-color: rgba(160, 42, 239, 0.575);
}
.parrafo{
  position: absolute;
  font-size: calc(4vw);
  color: var(--blanco);
}