.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
.parrafo{
  font-size: 3rem;
  align-items: end;
  color: var(--blanco);
}
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }
  }
  @media (min-width: 1140px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width: 1440px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      gap: 7rem;
    }
  }
  @media (min-width: 2160px) {
    .grid {
      grid-template-columns: repeat(6, 1fr);
      gap: 9rem;
    }
  }