.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
.containerParrafo{
  position: absolute;
  width: 100%;
  top: 38%;
}
.parrafo {
  font-size: 6rem;
  color: var(--blanco);
  background-color: rgba(46, 40, 63, 0.598);
  padding: 5px;
  height: 7rem;
  }
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}
@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 6rem;
  }
}
@media (min-width: 2160px) {
  .grid {
    grid-template-columns: repeat(7, 1fr);
    gap: 8rem;
  }
}
