.contenedorOne {
  width: 100%;
  background-color: #00d045;
}
.contenedorTwo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.navA {
  display: block;
  font-size: 1.5rem;
  color: var(--blanco);
  text-decoration: none;
  text-align: center;
  }
.navA:hover {
  background-color: #540a80;
}
.SearchBar {
  padding-top: 5px;
}
.button {
  border-radius: 20px;
  background-color: #7700ffcc;
  padding: 6px;
  text-decoration: none;
  font-size: 13px;
  margin: 4px;
  -webkit-transition-duration: 0.3s;
  /* Safari */
  transition-duration: 0.3s;
  cursor: pointer;
  border: 5px;
  fill: white;
}
.button:hover {
  background-color: rgba(212, 0, 249, 0.941);
  font-size: 15px;
  border: 3px;
  fill: white;
}
.center {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .contenedorOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 4rem;
    z-index: 5;
  }
  .navegacion {
    display: grid;
    place-items: center;
    grid-template-columns: 10vw 10vw 15vw 10vw;
    height: 100%;
    
  }
  
  .navA:hover {
    display: grid;
    place-items: center;
    background-color: #4dfd96a7;
    height: 100%;
    width: 100%;
    font-weight: 600;
  }
  .SearchBar {
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .contenedorTwo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
