h1 {
  color:  rgb(0, 242, 255);
}
h2 {
    color: white;
    font-size: 14px;
    font-family:sans-serif;
    margin-bottom: 5px;
}
p{  
    font-size: small;
    color: white;
    font-style: italic;
}
.loginBox {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 300px;
    height: 300px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.874);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.762);
    border-radius: 10px;
    z-index: 4;
    font-family: sans-serif;
  }
.autor{
    color:rgb(0, 242, 255);
    font-size: 14px;
    margin-top: 0px;
    font-style: bold;
    }