.contenedor {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .button {
    border-radius: 20px;
    color: var(--black);
    padding: 6px;
    text-decoration: none;
    font-size: 13px;
    margin: 4px;
    -webkit-transition-duration: 0.3s;
    /* Safari */
    transition-duration: 0.3s;
    cursor: pointer;
    border: 5px;
    fill: #00bd4f; 
  }
  .button:hover {
    background-color: #7700ffcc;
    fill: white;
  }
  .input {
    font-size: 13.5px;
    color: #1b1b1b;
    border: none;
    border: 1px solid var(--terciario);
    outline: none;
    background: #ffffff;
    }
  @media (min-width: 768px) {
    .contenedor {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    .input {
      height: 30px;
      width: 55px;
      margin:auto 10px;
      font-size: 15px;
      font-style: 700;
      color: #1b1b1b;
      border: none;
      border: 0.5px solid #00f2ff;
      background: #ffffff;
      
    }
  }
  