input{
    border: 2px solid var(--negro);
    border-radius: 12px;
    width: 14rem;
    margin: 5px;
}
.button{
    border-radius: 30px;
    color: var(--blanco);
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 5px;
}
.button {
    background-color: white; 
    color: black; 
    border: 1px solid var(--primario);
}

.button:hover {
    background-color: var(--primario);
    font-size: 15px;
    border: 3px;
}