.App {
   text-align: center;
   padding: 25px;
}
@font-face {
   font-family:PurpleSmile;
   src: url(./components/assets/fonts/PurpleSmile.ttf);
 }
 @font-face {
   font-family:TituloRick;
   src: url(./components/assets/fonts/rickyFont.ttf);
 }