:root {
  --primario: #FAFD7CFF;
  --primarioOscuro: rgb(216, 197, 121);
  --secundario: #917C5DFF;
  --secundarioOscuro: #44281d;
  --terciario: rgb(150, 223, 55);
  --blanco: #FFF;
  --negro: #000;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; 
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background-image: url('../assets/img/background-fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    font-family: -apple-system, BlinkMacSystemFont,TituloRick,PurpleSmile, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
